<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">Activación de cuenta</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.activation.text1}">
            Su cuenta ha sido creada. Por favor, haga click en el enlace que aparece a continuación para activarla:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}"
               th:text="@{|${baseUrl}/#/activate?key=${user.activationKey}|}">Enlace de activación</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Saludos, </span>
            <br/>
            <em th:text="#{email.signature}">La organización.</em>
        </p>
    </body>
</html>
