<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Reinicio de contraseña</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.reset.text1}">
            Se solicitó un reinicio de contraseña para su cuenta, por favor haga click en el enlace que aparece a continuación para llevarlo a cabo:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
             th:text="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">Enlace para el reinicio</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Saludos, </span>
            <br/>
            <em th:text="#{email.signature}">La organización.</em>
        </p>
    </body>
</html>
